// Importaciones de Bootstrap
@import "./node_modules/bootstrap/scss/bootstrap";
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";

// Definición de breakpoints personalizados
$grid-breakpoints: (
    xs: 0,
    sm: 250px,
    md: 500px,
    lg: 750px,
    xl: 1050px,
    xxl: 1300px) !default;

// Estilos para .container-fluid con media queries
.container-fluid {
    background-color: red;
    height: 100vh !important;

    @include media-breakpoint-up(sm) {
        background-color: violet;
    }

    @include media-breakpoint-up(md) {
        background-color: green;
    }

    @include media-breakpoint-up(lg) {
        background-color: blue;
    }

    @include media-breakpoint-up(xl) {
        background-color: yellow;
    }

    @include media-breakpoint-up(xxl) {
        background-color: orange;
    }
}