@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";
@import "../node_modules/bootstrap/scss/_mixins.scss";

$grid-breakpoints: (
    xs: 0,
    sm: 250px,
    md: 500px,
    lg: 750px,
    xl: 1000px,
    xxl: 1250px);

.container-fluid {
    background-color: red;
}

@include media-breakpoint-only(sm) {
    .container-fluid {
        background-color: violet;
    }
}

@include media-breakpoint-only(md) {
    .container-fluid {
        background-color: yellow;
    }
}

@include media-breakpoint-only(md) {
    .container-fluid {
    background-color: green;

    }
}

@include media-breakpoint-only(lg) {
    .container-fluid {
        background-color: blue;
    
        }
    }

@include media-breakpoint-only(xl) {
    .container-fluid {
        background-color: pink;
    
        }
    }

@include media-breakpoint-only(xxl) {
    .container-fluid {
        background-color: orange;
    
        }
    }